<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Super Księgarnia</title>
    <link rel="stylesheet" href="/contact.css"/>
    <link rel="stylesheet" href="/commons.css"/>
</head>
<body>
    <div th:replace="fragments.html :: logo"></div>
    <div th:replace="fragments.html :: menu"></div>
    <div id="content">
        <div id="info">
            Najlepsza księgarnia świata !!<br>
            JARIR BOOKSTORE Sp. z o.o.<br>
            ul. Urocza 18/6<br>
            31-234 Kraków
        </div>
        <form id="contact-form" method="post" action="/contact">
            <div>Skontaktuj się z nami !!</div>
            <input type="text" placeholder="Temat" th:field="*{mail.title}">
            <textarea th:field="*{mail.message}"></textarea>
            <input type="text" placeholder="Imie" th:field="*{mail.name}">
            <input type="submit" value="Wyślij">
        </form>
    </div>
</body>
</html>